/* ================================= HTML, BODY ================================= */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto Slab', serif;
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 1), 0 8px 8px rgba(0, 0, 0, 1);
	overflow: hidden;
	/* background: url(../Images/background.jpg) no-repeat; */
}

/* ================================= COTNENT ================================= */

.content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 2;
}

/* ================================= Background Video ================================= */

.video {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	background-color: black;
	transform: translate(-50%, -50%);
	transition: all 2s linear;
	animation-duration: 2s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

.vid {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: -1;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

/* ================================= Menu Buttons ================================= */

#btnContainer {
	height: 25%;
	padding-left: 28%;
	animation-duration: 1.2s;
	transition-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-name: fadeInUp;
	list-style: none;
}

#btnContainer li {
	float: left;
	width: 120px;
	height: 120px;
	margin-left: -40px;
	padding-top: 50px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 50%;
	color: white;
	font-size: 14px;
	opacity: 0.9;
	cursor: pointer;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	/* animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  */
}

#btnContainer li:hover {
	opacity: 1;
}

.button {
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black;
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.6), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black;
}

.active-button {
	opacity: 1;
	animation: pulse 1s infinite;
	text-shadow: none;
	box-shadow: 0 0px 6px white, 0 0 20px white;
	-webkit-box-shadow: 0 0px 6px white, 0 0 20px white;
}

#btnHome {
	background: url(../Images/home.png) no-repeat top;
	background-color: #2196f3;
}

#btnExperience {
	background: url(../Images/experience.png) no-repeat top;
	margin-top: 40px;
	background-color: #ffc107;
}

#btnExpertise {
	background: url(../Images/expertise.png) no-repeat top;
	background-color: #DD2C00;
}

#btnAcademics {
	background: url(../Images/academic.png) no-repeat top;
	margin-top: 40px;
	background-color: #1a237e;
}

#btnAwards {
	background: url(../Images/award.png) no-repeat top;
	background-color: #D50000;
}

#btnHobbies {
	background: url(../Images/hobbies.png) no-repeat top;
	margin-top: 40px;
	background-color: #009688;
}

#btnInspiration {
	background: url(../Images/inspiration.png) no-repeat top;
	background-color: #ff1744;
}

#btnBlog {
	background: url(../Images/blog.png) no-repeat top;
	margin-top: 40px;
	background-color: #FF9800;
}

#btnContact {
	background: url(../Images/contact.png) no-repeat top;
	background-color: #00e676;
}

/* ================================= Home Page ================================= */

.main-container {
	width: 100%;
	height: 100%;
	color: white;
	left: 0px;
	top: 25%;
	position: absolute;
}

#welcome_msg {
	width: 96%;
	font-size: 21px;
	/* font-family: 'Josephin Slab', serif; */
	font-family: 'Merriweather', serif;
	text-align: justify;
	padding-left: 2%;
}

/* ================================= Experience Page ================================= */

#experience {
	width: 95%;
	display: inline-block;
}

.img {
	width: 70px;
	height: 70px;
}

#projectList {
	list-style: none;
	height: 150px;
}

#projectList li {
	font-size: 11px;
	float: left;
	width: 160px;
	height: 160px;
	margin-left: 40px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5%;
	padding-top: 15px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 10px 6px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7), 0 10px 6px rgba(0, 0, 0, 0.8);
	cursor: pointer;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	animation-fill-mode: both;
	/* animation: btn-effect 1s infinite;
  */
}

#projectList li:nth-child(even) {
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}

#projectList li:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

#projectList li:hover:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	animation: btn-effect 1s infinite;
}

#projectList li:hover:nth-child(odd) {
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
	animation: btn-effect2 1s infinite;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
}

.project-container {
	padding-top: 1%;
	width: 100%;
	height: 250px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	animation: fadeIn 1s 1;
	font-family: 'Merriweather', serif;
}

.project-container:hover {
	color: black;
	text-shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
}

/* ================================= Expertise Page ================================= */

/********************** Carousel Start*********************/

#carousel {
	position: absolute;
	left: 5%;
	width: 120px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	z-index: 2;
	top: 0;
}

#carousel2 {
	position: absolute;
	left: 85%;
	width: 120px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	z-index: 2;
	top: 0;
}

.language-icon-set {
	list-style: none;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateZ(-150px) rotateY(0);
	transform: translateZ(-150px) rotateY(0);
}

.language-icon-set li {
	padding-top: 5px;
	animation: fadeInDown 5s infinite alternate;
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
}

.language-icon-set li:hover {
	animation-play-state: paused;
	opacity: 1;
}

.language-icon-set li img:hover {
	animation-play-state: paused;
	opacity: 1;
}

.language-icon-set li:nth-child(even) {
	animation-delay: 5s;
}

.language-icon-set li:nth-child(odd) {
	animation-delay: 0s;
}

.langauge-icon {
	width: 80px;
	height: 80px;
	opacity: 0.7;
}

/********************** Carousel End*********************/

#expertise {
	padding-left: 10%;
	width: 90%;
}

#expertise-list {
	list-style: none;
	height: 100px;
}

#expertise-list li {
	float: left;
	width: 180px;
	height: 130px;
	font-size: 13px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 5%;
	padding-top: 4%;
	margin-left: 6%;
	border: 1px solid black;
	color: black;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 5px 10px black;
	-webkit-box-shadow: 1px 5px 10px black;
	cursor: pointer;
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	transition-timing-function: ease-in-out;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
}

#expertise-list li:hover {
	background-color: black;
	animation: btn-effect-out 1s infinite;
}

/********************** Programming Language Section *********************/

/* =========================== Graph start ======================== */

#graph {
	width: 100%;
	padding-left: 4%;
	height: 380px;
	transition-timing-function: ease-in-out;
}

.x-axis {
	text-align: center;
	width: 80%;
	list-style: none;
	position: absolute;
}

.values {
	width: 80%;
	height: 60%;
	list-style: none;
	padding-top: 15px;
}

.values li {
	position: relative;
	vertical-align: bottom;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	float: left;
	font-size: 12px;
	margin-left: 20px;
	text-align: center;
	width: 40px;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0 18px black;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0 18px black;
	opacity: 0.8;
	animation-duration: 0.4s;
	transition-timing-function: ease-in-out;
	animation-fill-mode: both;
	animation-name: draw;
}

.values li:hover {
	opacity: 1;
	box-shadow: 0 0px 6px white, 0 0px 10px white;
}

.x-axis li {
	position: relative;
	-webkit-transition: all 2s ease-in-out;
	transition: all 2s ease-in-out;
	float: left;
	height: 100%;
	margin-left: 20px;
	text-align: center;
	width: 40px;
	font-size: 11px;
}

.y-axis {
	position: absolute;
	text-align: right;
	width: 90%;
}

.y-axis li {
	border-top: 1px solid #ccc;
	display: block;
	height: 50px;
	width: 80%;
}

.y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
	font-size: 11px;
}

.e60 {
	height: 155px;
	margin-top: 100px;
	background-color: #D50000;
}

.e50 {
	height: 130px;
	margin-top: 125px;
	background-color: black;
}

.e80 {
	height: 200px;
	margin-top: 55px;
	background-color: #9C27B0;
}

.e70 {
	height: 180px;
	margin-top: 75px;
	background-color: #00897B;
}

.e30 {
	height: 77px;
	margin-top: 178px;
	background-color: #2196f3;
}

.e75 {
	height: 192px;
	margin-top: 63px;
	background-color: #1A237E;
}

/* =========================== Graph end ======================== */

/********************** Operating System Section *********************/

#os-container {
	width: 90%;
}

#os-icon-container {
	height: 40%;
}

#os-icons {
	list-style: none;
	position: absolute;
	padding-top: 4%;
	z-index: -1;
}

#os-icons li {
	float: left;
	width: 175px;
	height: 175px;
	margin-left: 85px;
	border-radius: 50%;
	text-align: center;
	box-shadow: 1px 1px 10px black;
}

.os-icon {
	width: 175px;
	height: 175px;
	opacity: 0.8;
}

/********************** Tools Section *********************/

#tools-container {
	margin-top: 5%;
	width: 90%;
}

.card {
	display: inline-block;
	width: 120px;
	background: url(../Images/tools2.png) no-repeat bottom;
	height: 120px;
	margin-left: 2%;
	margin-top: 2%;
	opacity: 0.9;
	align-items: center;
	font-size: 10px;
	color: black;
	border-radius: 5%;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black, 0 15px 10px black;
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black, 0 15px 10px black;
	text-shadow: none;
}

.card:hover {
	background-color: transparent;
	box-shadow: 0 0 4px white, 0 0 6px white;
	-webkit-box-shadow: 0 0 4px white, 0 0 6px white;
}

.card-icon {
	width: 60px;
	height: 60px;
	margin-bottom: 35%;
	margin-left: 25%;
}

.card-detail {
	width: 100%;
	height: 15%;
	text-align: center;
	background-color: white;
	text-align: -webkit-center;
	border-radius: 5%;
	opacity: 0.8;
}

/********************** Framework Section *********************/

#frameworks-container {
	margin-top: 2%;
	width: 90%;
}

#fr-list-container {
	margin-top: 2%;
	display: inline-block;
	width: 100%;
	padding-left: 31%;
}

#upper-hexagon {
	padding-left: 16%;
}

#lower-hexagon {
	padding-left: 26.5%;
	padding-top: 8%;
}

.hex {
	float: left;
	margin-left: 3px;
	margin-bottom: -26px;
	opacity: 1;
}

.hex:hover {
	opacity: 0.7;
}

.hex .top {
	width: 0;
	border-bottom: 30px solid #6C6;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
}

.hex .middle {
	width: 104px;
	height: 60px;
	background: #6C6;
}

.hex .middle span {
	font-size: 10px;
	text-align: center;
	width: inherit;
	display: block;
}

.hex .bottom {
	width: 0;
	border-top: 30px solid #6C6;
	border-left: 52px solid transparent;
	border-right: 52px solid transparent;
}

.hex-row {
	clear: left;
}

.hex-row.even {
	margin-left: 53px;
}

.hex-icon {
	width: 60px;
	height: 60px;
	margin-left: 22%;
	border-radius: 50%;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8);
}

/* ================================= Hobbies Page ================================= */

#hobbies {
	padding-top: 5%;
	text-align: center;
}

#hobbiesList {
	list-style: none;
	margin-left: 2%;
	;
}

#hobbiesList li {
	float: left;
	width: 140px;
	height: 140px;
	padding-top: 1%;
	text-align: center;
	box-sizing: border-box;
	border-radius: 2%;
	color: black;
	text-shadow: 0 3px 3px rgba(0, 0, 0, 0.8);
	font-size: 23px;
	font-family: 'Aladin';
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0 18px black;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0 18px black;
	cursor: pointer;
	-webkit-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	opacity: 0.9;
	;
	background-color: black;
	/* visibility: hidden; */
}

#hobbiesList li:hover {
	box-shadow: 0 3px 6px rgba(255, 255, 255, 0.16), 0 3px 6px rgba(255, 255, 255, 0.23), 0 0 18px white;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), 0 0 18px white;
}

/* ================================= Footer Section ================================= */

#play-pause-container {
	width: 20%;
	display: inline-block;
}

#prev-next-container {
	width: 20%;
	display: inline-block;
}

#prev-next-container ul {
	margin-left: 50%;
}

.control {
	list-style: none;
	float: left;
	width: 30px;
	height: 30px;
	margin-left: 10px;
	padding-top: 10px;
	text-align: center;
	box-sizing: border-box;
	border-radius: 50%;
	font-size: 8px;
	text-shadow: none;
	color: white;
	text-align: center;
	background: transparent;
	box-shadow: 0 6px 6px black;
	-webkit-box-shadow: 0 6px 6px black;
}

.control:hover {
	background-color: black;
	cursor: pointer;
}

#footer_msg {
	width: 59%;
	text-align: center;
	display: inline-block;
}

#footer_msg:hover {
	color: whitesmoke;
}

#footer {
	top: 92%;
	width: 100%;
	position: absolute;
	font-size: 12px;
	color: black;
}

/* ================================= Academics Page ================================= */

#academics {
	margin-top: 5%;
}

.academic-detail {
	float: left;
	width: 220px;
	height: 320px;
	border: 15px inset #424242;
	box-shadow: 5px 5px 3px black;
	-webkit-box-shadow: 5px 5px 3px black;
	margin-left: 7%;
	/* -webkit-box-reflect: below -50px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(0, 0,0, 0.4))); */
}

.ac-img-container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.academic-detail img {
	width: 64px;
	height: 64px;
}

.ac-detail-container {
	text-align: center;
	line-height: 30px;
	padding-top: 10%;
	/* font-family: 'Vollkorn', serif; */
	/* font-family: 'Certificate'; */
	font-family: 'Handlee', cursive;
	font-size: 20px;
}

#ac1 {
	background: url(../Images/cert-bg1.png);
	background-color: rgba(0, 0, 0, 0.6);
}

#ac2 {
	background: url(../Images/cert-bg2.png);
	background-color: rgba(0, 0, 0, 0.6);
}

#ac3 {
	background: url(../Images/cert-bg3.png);
	background-color: rgba(0, 0, 0, 0.6);
}

#ac4 {
	background: url(../Images/cert-bg4.png);
	background-color: rgba(0, 0, 0, 0.6);
}

/* ================================= Awards Page ================================= */

#awards {
	width: 100%;
}

.award-detail {
	float: left;
	width: 280px;
	height: 180px;
	border: 15px inset #3f2a14;
	box-shadow: 5px 5px 3px black;
	-webkit-box-shadow: 5px 5px 3px black;
	margin-left: 10%;
	margin-top: 2%;
	text-align: center;
	font-family: 'Courgette', cursive;
	/* -webkit-box-reflect: below -50px -webkit-gradient(linear, right top, right bottom, from(transparent), to(rgba(0, 0,0, 0.4))); */
}

.award-detail p {
	padding-top: 15%;
	color: lawngreen;
}

#ad1 {
	background: url(../Images/aw-bg1.png);
	background-color: rgba(0, 0, 0, 0.6);
}

#ad2 {
	background: url(../Images/aw-bg2.png);
	background-color: rgba(0, 0, 0, 0.7);
	background-size: contain;
}

#ad2 p {
	color: gold;
}

#ad3 {
	background: url(../Images/aw-bg3.png);
	background-color: rgba(0, 0, 0, 0.7);
}

#ad3 p {
	color: aqua;
}

#ad4 {
	background: url(../Images/aw-bg4.png);
	background-color: rgba(0, 0, 0, 0.7);
}

#ad4 p {
	color: aqua;
}

#ad5 {
	background: url(../Images/aw-bg5.png);
	opacity: 0.9;
}

#car {
	background: url(../Images/my_car.png);
	width: 90%;
	height: 80%;
	margin-left: 5%;
	border-radius: 2%;
	background-size: cover;
}

#ad5 p {
	color: gold;
}

#ad6 {
	background: url(../Images/aw-bg6.png);
	background-color: rgba(0, 0, 0, 0.7);
}

/* ================================= Inspiration Page ================================= */

.horizontal-card {
	display: inline-block;
	width: 250px;
	height: 125px;
	margin-left: 3%;
	margin-top: 2%;
	align-items: center;
	font-size: 10px;
	border-radius: 5%;
	opacity: 0.9;
	transition: all 1s;
	text-shadow: 0 1px 1px black;
}

.hcard-content {
	text-align: justify;
	font-size: 8px;
}

.horizontal-card:hover {
	box-shadow: 0 3px 4px rgba(255, 255, 255, 0.7), 0 6px 6px rgba(255, 255, 255, 0.8), 0 0 15px;
	-webkit-box-shadow: 0 3px 4px rgba(255, 255, 255, 0.7), 0 6px 6px rgba(255, 255, 255, 0.8), 0 0 15px white;
	background: whitesmoke;
	color: black;
}

.hcard-even {
	box-shadow: 0 3px 4px rgba(255, 255, 255, 0.7), 0 6px 6px rgba(255, 255, 255, 0.8), 0 0 15px;
	-webkit-box-shadow: 0 3px 4px rgba(255, 255, 255, 0.7), 0 6px 6px rgba(255, 255, 255, 0.8), 0 0 15px white;
	background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	color: black;
}

.hcard-odd {
	color: white;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black, 0 15px 10px black;
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black, 0 15px 10px black;
	background: linear-gradient(45deg, #45484d 0%, #000000 100%);
}

.hcard-even:hover {
	color: white;
	box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black, 0 15px 10px black;
	-webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.7), 0 6px 6px rgba(0, 0, 0, 0.8), 0 0 15px black, 0 15px 10px black;
	background: linear-gradient(45deg, #45484d 0%, #000000 100%);
	cursor: pointer;
}

.hcard-odd:hover {
	box-shadow: 0 3px 4px rgba(255, 255, 255, 0.7), 0 6px 6px rgba(255, 255, 255, 0.8), 0 0 15px;
	-webkit-box-shadow: 0 3px 4px rgba(255, 255, 255, 0.7), 0 6px 6px rgba(255, 255, 255, 0.8), 0 0 15px white;
	background: linear-gradient(45deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
	color: black;
	cursor: pointer;
}

.horizontal-card-icon {
	width: 40%;
	height: 100%;
	float: left;
	border-radius: 5%;
}

.heading {
	font-size: 16px;
	font-weight: bold;
	color: red;
}

.horizontal-card-detail {
	height: 100%;
	width: 60%;
	text-align: center;
	float: left;
	line-height: 20px;
	font-family: 'Merriweather', serif;
}

/* ================================= Blog Page ================================= */

#blog {
	text-align: center;
	color: wheat;
}

/* ================================= Contact Page ================================= */

#contact {
	margin-top: 5%;
}

#contact-left {
	width: 25%;
	float: left;
	margin-left: 10%;
}

#contact-container {
	display: block;
}

#photo-container {
	float: left;
	width: 30%;
}

#container {
	display: block;
}

#contact-right {
	width: 25%;
	float: left;
}

#photo {
	margin-left: 2%;
	position: relative;
	height: 310px;
	width: 230px;
	margin: 0 auto;
	border-radius: 4%;
	background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
	box-shadow: 0 0 15px black, 0 0 30px black, 0 5px 15px black;
	-webkit-box-shadow: 0 0 15px black, 0 0 30px black, 0 5px 15px black;
	/* animation: rotate 5s linear 2; */
}

#photo:hover {
	animation: rotate 2s linear 3;
	box-shadow: 0 0 6px white;
	-webkit-box-shadow: 0 0 6px white;
	cursor: pointer;
}

.photo-img {
	width: 210px;
	height: 290px;
	margin-left: 4%;
	margin-top: 4%;
	border-radius: 4%;
	box-shadow: 1px 5px 10px black;
	-webkit-box-shadow: 1px 5px 10px black;
}

.social-contact {
	width: 80px;
	height: 80px;
	margin-left: 11%;
	margin-top: 15%;
	border-radius: 10px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 6px black, 0 7px 4px black;
	-webkit-box-shadow: 0 0 6px black, 0 7px 4px black;
	transition: color 0.25s;
	background: url(../Images/social-bg.png);
	background-size: contain;
}

.social-contact:hover {
	box-shadow: 0 0 6px white;
	-webkit-box-shadow: 0 0 6px white;
	cursor: pointer;
}

.social-contact img {
	height: 64px;
	width: 64px;
	margin: 0 auto;
	display: block;
}

#resume-link-container {
	width: 100%;
}

#resume-link-container div {
	margin-top: 3%;
}

#resume-link-img-container {
	width: 50%;
	margin: 0 auto;
}

.message {
	text-align: center;
	font-family: 'Josephin Slab', serif;
	color: whitesmoke;
	margin-left: 10%;
}

.message p {
	display: none;
}

/* ================================= Animations ================================= */

@keyframes rotate-new {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}

@keyframes pulsenew {
	from {
		box-shadow: 0 0 9px #333;
		-webkit-box-shadow: 0 0 9px #333;
		opacity: 0;
	}
	50% {
		box-shadow: 0 0 18px #91bd09;
		-webkit-box-shadow: 0 0 18px #91bd09;
	}
	to {
		box-shadow: 0 0 9px #333;
		-webkit-box-shadow: 0 0 9px #333;
		opacity: 1;
	}
}

@-webkit-keyframes pulsenew {
	from {
		box-shadow: 0 0 9px #333;
		-webkit-box-shadow: 0 0 9px #333;
		opacity: 0;
	}
	50% {
		box-shadow: 0 0 18px #91bd09;
		-webkit-box-shadow: 0 0 18px #91bd09;
	}
	to {
		box-shadow: 0 0 9px #333;
		-webkit-box-shadow: 0 0 9px #333;
		opacity: 1;
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translate3d(0, -50%, 0);
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@keyframes draw {
	0% {
		height: 0;
	}
}

@keyframes drawBottom {
	0% {
		bottom: 0;
	}
}

@keyframes btn-effect {
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
	}
	0% {
		box-shadow: 0 0 0 30px transparent;
	}
}

@keyframes btn-effect2 {
	100% {
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
	}
	0% {
		box-shadow: 0 0 0 30px transparent;
	}
}

@keyframes btn-effect-out {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
	}
	100% {
		box-shadow: 0 0 0 30px transparent;
	}
}

@font-face {
	font-family: "Certificate";
	src: url("../font/Certificate.ttf");
}